h1{
color:rgb(229, 61, 61);
font-size: 500%;
}
h2{
color:white;
font-size: 300%;
text-align: justify;
}
body{
    background-image: url("personal01.png");
}

h3{
    position: absolute;
    left: 800px;
    font-size: 200%;
    top: 1115px;
}
h4 {
    position: absolute;
    left: 1300px;
    font-size: 200%;
    top: 1100px;
}
h3:hover {
    color: blue;
  }
  h4:hover {
    color: blue;
  }