body{
    background-image: url("Fondo LINUX.png");
}
h1{
    color:rgb(229, 81, 61);
    font-size: 500%;
    }
    h2{
        color:rgb(24, 182, 222);
        font-size: 350%;
        
        }
    p{
color:white;
font-size: 175%;
    }

    li{
    text-align: justify;
    color:white;
    font-size: 170%;
    }
    h3{
        position: absolute;
        left: 1000px;
        font-size: 200%;
        top: 16250px;
    }
    h4 {
        position: absolute;
        left: 1500px;
        font-size: 200%;
        top: 16237px;
    }
    h5{
      position: absolute;
      left: 600px;
      font-size: 200%;
      top: 16227px;

    }

    h6{
      font-size: 175%;
    }

      h3:hover {
        color: rgb(0, 187, 255);
      }
      h4:hover {
        color: rgb(0, 187, 255);
      }
        
      h5:hover {
        color: rgb(0, 187, 255);
      }

      h6:hover {
        color: rgb(0, 187, 255);
      
      }

      
      pre{color:#fff;font-size:175%;background-color:#16094b;padding:5px;border-left:6px solid #ff0d00;overflow-x:auto;overflow-y:auto;max-height:400px}.ventana-ejecucion-img{width:90%;min-width:700px;margin:40px}